version: '3.8'

services:
  web:
    build: .
    container_name: calls_frontend
    ports:
      - "5000:80"
    volumes:
      - .:/var/www/html
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
